@using TestChat.Models.ViewModels
@model IEnumerable<MessageViewModel>
@{
    ViewBag.Title = "Chat";
}
@if (Model != null)
{
    foreach (var message in Model)
    {
        <div class="message">
            <a href="@Url.Action("Profile", "Account",new {email=message.User })" class="img-cropper">
                <img class="avatar" src="@Url.Action("GetImage", "Account", new { email = message.User })" />
            </a>
            <div class="text-content">
                <span class="name">@message.User</span>
                <span class="time">@message.Time.ToString("hh:mm:ss")</span>
                <div class="inlet-text">@message.Message</div>
                <div class="id" hidden="hidden">@message.Id</div>
            </div>
            <br />
        </div>
    }
}
