<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="container">
        <div class="header">Simple chat</div>
        <div class="menu">
            <div>
                @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" })
            </div>
            <div>

                <ul>
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Chat", "Chat", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div class="content">
            @RenderBody()
            <hr />
        </div>
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
